
*.ipch
*.vsidx
*.db
*.json
*.bin
*.inl
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.db-wal
.vs/ClassActivity/v17/Browse.VC.db-shm
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.db-wal
.vs/ClassActivity/v17/Browse.VC.db-shm
.vs/ClassActivity/v17/.suo
*.db-wal
*.db-shm
*.iobj
