
*.ipch
*.vsidx
*.db
*.json
*.bin
*.inl
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.db-wal
.vs/ClassActivity/v17/Browse.VC.db-shm
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.db-wal
.vs/ClassActivity/v17/Browse.VC.db-shm
.vs/ClassActivity/v17/.suo
*.db-wal
*.db-shm
*.iobj
*.tlog
*.ipdb
*.iobj
*.recipe
ClassActivity/x64/Release/ClassActivity.tlog/link.write.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/link.secondary.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/link.read.1.tlog
ClassActivity/x64/Release/glad.obj
ClassActivity/x64/Release/ClassActivity.tlog/link.write.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/link.secondary.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/link.read.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/link.command.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/ClassActivity.lastbuildstate
ClassActivity/x64/Release/ClassActivity.tlog/CL.write.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/CL.read.1.tlog
ClassActivity/x64/Release/ClassActivity.tlog/Cl.items.tlog
ClassActivity/x64/Release/ClassActivity.tlog/CL.command.1.tlog
ClassActivity/x64/Release/ClassActivity.obj
ClassActivity/x64/Release/ClassActivity.log
ClassActivity/x64/Release/ClassActivity.ipdb
ClassActivity/x64/Release/ClassActivity.iobj
ClassActivity/x64/Release/ClassActivity.exe.recipe
.vs/ClassActivity/v17/Browse.VC.opendb
.vs/ClassActivity/v17/Browse.VC.db-wal
.vs/ClassActivity/v17/Browse.VC.db-shm
